APP_NAME=Harmony
APP_VERSION=0.4.0

HOST=0.0.0.0
PORT=8080

DATABASE_URL=sqlite:////database/harmony.db

MUSIC_PATH=/music

DOWNLOAD_PATH=/downloads

STAGING_PATH=/downloads/staging

FAILED_PATH=/downloads/failed

LOG_LEVEL=INFO

MUSIC_LIBRARY=/music

AUDIO_PROVIDERS=youtube-music,youtube