APP_NAME=Harmony
APP_VERSION=0.6.0-dev

HOST=0.0.0.0
PORT=8080

DATABASE_URL=sqlite:///database/harmony.db

MUSIC_PATH=/path/to/music

DOWNLOAD_PATH=/path/to/downloads
STAGING_PATH=/path/to/staging
FAILED_PATH=/path/to/failed

LOG_LEVEL=INFO

SPOTDL_PATH=spotdl

USE_OFFICIAL_SPOTIFY_API=false
SPOTIFY_METADATA_PROVIDER=spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

AUDIO_PROVIDERS=youtube-music,youtube

MAX_PARALLEL_DOWNLOADS=3