<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <title>
        {% block title %}Harmony{% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="/static/css/app.css"
    >

</head>

<body>

<div class="layout">

    <aside class="sidebar">

        <h1>Harmony</h1>

        <nav>

            <a href="/">Dashboard</a>

            <a href="/downloads">Downloads</a>

            <a href="#">Library</a>

            <a href="#">Sources</a>

            <a href="#">Settings</a>

        </nav>

        <div class="sidebar-footer">
            <div class="footer-title">{{ app_name }}</div>
            <div class="footer-author">by AziM</div>
            <div class="footer-version">v{{ version }}</div>
        </div>

    </aside>

    <main class="content">

        {% block content %}
        {% endblock %}

    </main>

</div>

<script src="/static/js/app.js"></script>
<script src="/static/js/downloads.js"></script>

</body>
</html>