<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <title>
        {% block title %}Harmony{% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="/static/css/app.css"
    >

</head>

<body>

<div class="layout">

    <aside class="sidebar">

        <h1>Harmony</h1>

        <nav>

            <a href="/">Dashboard</a>

            <a href="/downloads">
                Downloads
            </a>

            <a href="/library">
                Library
            </a>

            <a href="/sources">
                Sources
            </a>

            <a href="/settings">
                Settings
            </a>

        </nav>

    </aside>

    <main class="content">

        {% block content %}
        {% endblock %}

    </main>

</div>

<script src="/static/js/app.js"></script>

</body>
</html>